/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(ubuntu_woff2.base64) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(ubuntu_mono_woff2.base64) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media only screen and (max-width: 599px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1201px) {
    html {
        font-size: 18px;
    }
}

html {
    font-family: Ubuntu;
    background-color: #222020;
    color: #f5f3f3;
    margin-left: 0.5em;
}

body {
    margin: 0 auto;
    line-height: 1;
    max-width: 960px;
    padding: 0.75em;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    margin-top: 1.29em;
}

h4 {
    line-height: 1.095em;
    font-size: 1.3125em;
}

a {
    color: #f5f3f3;
}

a:hover {
    text-decoration: none;
    color: #63f363;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.125em;
}

li, ul {
    margin-left: 1em;
    margin-right: 1em;
}

p, ul, ol {
    font-size: 1.05em;
    line-height: 1.5em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

code {
    font-family: Ubuntu Mono;
    line-height: 1.5em;
}

blockquote {
    border-left: 0.25em solid #f5f3f3;
    padding: 0 1em;
}

blockquote > p {
    color: #b6b6b6;
    font-size: 0.672em;
}

h2 {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.286em;
}

h3 {
    font-size: 1.5625em;
    font-weight: 700;
    line-height: 1.28em;
}

p {
    font-size: 1.25em;
    line-height: 1.6em;
}

blockquote {
    font-size: 1.5625em;
    line-height: 1.905em;
    margin-left: 0.85em;
    margin-right: 0.85em;
}

pre {
    font-size: 1em;
    line-height: 2em;
    background-color: #121010;
    padding-top: 1em;
    padding-bottom: 1em;
}

input[type=button] {
    background-color: #f5f3f3;
    border: none;
    color: #222020;
    padding: 0.55em 1.5em;
    cursor: pointer;
    font-family: Ubuntu;
    border-radius: 3px;
}

input[type=button]:hover {
    background-color: #63f363;
}